<div data-component="<%=@log.id%>" class="log">
  <header data-component="log-title"><%=@log.title%></header>
  <p data-component="log-description" class="limit-text"><%=@log.description%></p><br>
  <p data-component="log-started" class='in-line'>Start date:<%=@log.created_at%></p>
  <p data-component="log-closed" class='in-line'>End date: <%=@log.open ? ('Open log'): (@log.updated_at)%></p><br>
  <p data-component="log-events" class='in-line'>Events: <%=@log.events.length%></p>
  <a data-component="view-log" class='in-line float-r' href='#' name="<%=@log.id%>">View log</a><br>
</div>
