<div id='pop-up'>
  <div class='pop-up-body'>
    <a href='#' class='float-r close'><img class='close' src="http://files.softicons.com/download/application-icons/32x32-free-design-icons-by-aha-soft/png/32/Close.png"></a><br>
    <div data-component="<%=@log.id%>" class="log">
      <header data-component="log-title"><%=@log.title%></header>
      <p data-component="log-description"><%=@log.description%></p><br>
      <p data-component="log-started" class='in-line'>Start date:<%=@log.created_at%></p>
      <p data-component="log-closed" class='in-line'>End date: <%=@log.open ? ('Open log'): (@log.updated_at)%></p><br>
      <p data-component="log-events" class='in-line'>Events: <%=@log.events.length%></p>
    </div>
    <div data-component="new-eve-form-container"></div>
    <div data-component="event-list" class='event-list'>
      <div class="eve-header-div content">
      <header data-component="main-header" class="in-line">Events</header>
      <button data-component="new-eve" class="button in-line float-r">New event</button>
    </div>
    <%@events.each do |event|%>
      <div data-event="<%=event.id%>" class="event">
        <header data-component="log-title"><%=event.title%></header>
        <p data-component="log-description" class="limit-text"><%=event.description%></p><br>
        <p data-component="log-started" class='in-line'>Start date:<%=event.created_at%></p>
      </div>
    <%end%></div>
    </div>
</div>

<div  data-component="eve-form" style="display: none">
  <div data-component="eve-template" class="log">
    <form data-component="log-form">
      Event title: <input type="text" name="title" size="40" class='bmargin-5'placeholder="enter a title"><br>
      Start: <input type="datetime" name="start_time"class='bmargin-5'><br>
      Estimated end: <input type="datetime" name="end_time"class='bmargin-5'><br>
      Description:<br>
      <div class='bmargin-5'><textarea name='description' rows="10" cols="50" placeholder="enter a description here." class="hcenter"></textarea></div><br>
      <input id='ceve' data-component="create-log" type="submit" value="Create event" class='float-r button bmargin-5'><br>
    </form>
      <form>Location: <input type="text" name="location" size="40" class='bmargin-5'placeholder="enter a title"><button name='location' type='submit'>Find</button><br><form>
  </div>
</div>
